* {
font-family: 'Raleway', sans-serif;
}

.leggo {
  text-decoration: none;
  color: rgb(64, 64, 64);

}
.leggo:hover {
  color: rgb(247, 216, 42);
}

.Nav-Bar {
  color: rgb(247, 216, 42);
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
  margin-top: 3vh;

  /*padding: 8vh;
  margin: 10vh;
  background-color: rgb(255, 253, 242);*/
}
.house{
  display: flex;
  justify-content: center;
  margin-left: 9vh;
}
.description {
  display: flex;
  justify-content: center;
  color:rgb(64, 64, 64);
  margin-top: -25px;
}
.styled {
  display:flex;
  justify-content: center;
  margin-top: .5vh;
}


.make-em-look {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio {
  border: dashed;
  border-color: rgb(247, 216, 42);
  height: 35vh;
  width: 25vw;
  margin: .3vw;
  transition: transform .2s;
}
.portfolio:hover {
  transform: scale(1.3);
  border: none;
}

.all {
  padding: 4vh;
  margin: 7vh;
  background-color: rgb(252, 251, 244);
  border:solid;
  border-color:black;
}

.about-kendall {
  color:rgb(64, 64, 64);
}
.info {
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid;
  border-color: purple;
  margin: 7vw;
}
